@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Klee+One:wght@400;600&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&family=Press+Start+2P&display=swap");

/* font-family: 'Indie Flower', cursive; PARA TEXTOS "BONITOS" o de detalle.
font-family: 'Klee One', cursive; PARA h3/h4 y algunos <p>
font-family: 'Nunito', sans-serif;  PARA TITULOS h1/h2
font-family: 'Press Start 2P', cursive;
*/

* {
  /* outline: 1px red solid; */
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  width: 100vw;
  overflow-x: hidden;
}

/*  SIGN IN/LOGIN COMPONENT */

.header-title {
  font-weight: 800;
  font-size: 180%;
  text-align: center;
  padding-top: 35px;
  color: white;
}

.header-subtitle {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  margin: 30px 0;
}

.container {
  margin: 0 5px;
  font-family: "Klee One", cursive;
  padding-top: 15px;
  height: 500px;
  margin-bottom: 20px;
}

.big-green-box {
  position: relative;
  margin: 0 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Klee One", cursive;
  padding-top: 15px;
  height: 500px;
  max-width: 350px;
  margin-bottom: 20px;
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928396/Final-yisus-project/Homeview/background-img2_jy4dax.jpg);
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.sign-in-form {
  position: relative;
  top: -500px;
}

.create-title {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 150%;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.sign-up-container {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928401/Final-yisus-project/Homeview/dec%C3%A1gono-final-1_rmblf3.png);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  height: 310px;
  max-width: 300px;
  /* height: 100vw;
  max-width: 56vh; */
}

.account-question {
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.error-msg {
  color: white;
  text-align: center;
}

#question-login {
  margin-top: -5px;
}
/* FALTA DARK */
.sign-link {
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: rgb(17, 128, 44);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 6px;
  margin-top: 15px;
  cursor: pointer;
}

.sign-link:hover {
  background-color: rgb(35, 207, 78);
}

/*  FALTA DARK */

.sign-button {
  font-family: "Klee One", cursive;
  margin-top: 5px;
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: rgb(17, 128, 44);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.sign-button:hover {
  background-color: rgb(9, 78, 26);
}
/*  */

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
}
/* SIGN UP COMPONENT */

.form {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field-label {
  margin-top: 5px;
  font-size: 120%;
  font-weight: 600;
}
.input-field:hover {
  box-shadow: 0 0 5px 1px #4d4d4d;
}
.input-field:focus {
  box-shadow: 0 0 5px 1px #4d4d4d;
  outline-width: 0px;
}

.input-field {
  margin-top: 0px;
  border-radius: 25px;
  padding: 3px;
}

/* HOME VIEW */

.mork-move {
  display: flex;
  flex-direction: row-reverse;
}

.btn-theme-light {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671067908/Final-yisus-project/Homeview/nubes-boton_tgl06v.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 5px;
  width: 70px;
  height: 29px;
  margin: 3px 17px 3px 0;
  cursor: pointer;
}

.btn-theme-dark {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671069402/Final-yisus-project/Homeview/estrellas-btn-publicas_w96mti.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 5px;
  width: 70px;
  height: 29px;
  margin: 3px 17px 3px 0;
  cursor: pointer;
}

.sun-icon {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671067034/Final-yisus-project/Icons/sol-pixel-v2-borderless_lkpapp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  position: relative;
  top: 0.25rem;
  left: 1.75rem;
  cursor: pointer;
}

.moon-icon {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671067035/Final-yisus-project/Icons/luna-pixel-borderless_evejvu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  position: relative;
  top: 0.4rem;
  left: 4.1rem;
  cursor: pointer;
}

.jesus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843198/Final-yisus-project/Homeview/GIF-BACKGROUND-2.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.jesus-dark {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671036378/Final-yisus-project/Homeview/Dark%20theme/dark-theme-mbl-img_wevpyt.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.jesus-sign {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843198/Final-yisus-project/Homeview/GIF-BACKGROUND-2.gif);
  background-position: center;
  background-size: cover;
  padding-bottom: 35px;
  min-height: 100vh;
  background-attachment: fixed;
}
.jesus-sign-dark {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671036378/Final-yisus-project/Homeview/Dark%20theme/dark-theme-mbl-img_wevpyt.gif);
  background-position: center;
  background-size: cover;
  padding-bottom: 35px;
  min-height: 100vh;
  background-attachment: fixed;
}

.main-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 300px;
  height: 65px;
}

/* NAVBAR */

.nav-light {
  font-family: "Klee One", cursive;
  background-color: rgb(33, 53, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-bottom: 2px solid black;
}
.nav-dark {
  font-family: "Klee One", cursive;
  background-color: #0d1117;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-bottom: 2px solid black;
}
.router-link {
  text-decoration: none;
  color: white;
}
.log-out-list ul {
  list-style: none;
  padding-inline-start: 0;
}

.log-out-button-light {
  font-family: "Klee One", cursive;
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: rgb(17, 128, 44);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 3px 7px;
  cursor: pointer;
}

.log-out-button-dark {
  font-family: "Klee One", cursive;
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: #010409;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 3px 7px;
  cursor: pointer;
}
.log-out-button-light:hover {
  background-color: rgb(35, 207, 78);
}
.log-out-button-dark:hover {
  background-color: rgb(66, 7, 68);
}

/* BURGER MENU */

ul {
  display: none;
}

input:checked ~ .burger-container {
  display: block;
}
#burger-menu {
  display: none;
}

.burger-label {
  color: white;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.burger-li-light {
  display: block;
  background: rgb(33, 53, 33);
  margin: 0;
  padding: 5px;
  list-style: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.burger-li-dark {
  display: block;
  background: #0d1117;
  margin: 0;
  padding: 5px;
  list-style: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.burger-container {
  width: 55%;
  position: absolute;
  left: -1rem;
  top: 3.6rem;
}
/* BURGER DONE */
.salute {
  color: white;
}
/* NAVBAR */

/* FOOTER */

.footer-light {
  font-family: "Klee One", cursive;
  background-color: rgb(33, 53, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top: 2px solid black;
}
.footer-dark {
  font-family: "Klee One", cursive;
  background-color: #0d1117;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top: 2px solid black;
}

.footer-logo-light {
  width: 200px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670971750/Final-yisus-project/Logo%20images/proyecto_logo-final-black_rgjagp.png);
}
.footer-logo-dark {
  width: 200px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671052912/Final-yisus-project/Logo%20images/proyecto_logo-final-white_yuontl.png);
}

.contact-us-container p {
  color: white;
  font-size: 12px;
}

/* FOOTER */

/* NEW TASK */
.new-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.add-task-container {
  display: flex;
  flex-direction: column;
}

.add-task-container-light input {
  background-color: rgba(177, 107, 15, 0.603);
  color: white;
  border-radius: 15px;
  border: 1px solid brown;
  text-align: center;
}

.add-task-container-dark input {
  background-color: rgb(13, 17, 23, 0.6);
  color: white;
  border-radius: 15px;
  border: 1px solid rgb(4, 2, 85);
  text-align: center;
}

.add-task-container-light input::placeholder {
  color: white;
}

.add-task-container-dark input::placeholder {
  color: white;
}

.add-quest-button-light {
  width: 175px;
  margin-top: 1px;
  border-radius: 15px;
  background-color: rgba(177, 107, 15);
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.add-quest-button-dark {
  width: 175px;
  margin-top: 1px;
  border-radius: 15px;
  background-color: #0d1117;
  border: 1px solid rgb(4, 2, 85);
  color: white;
  cursor: pointer;
}

.add-quest-button-light:hover {
  background-color: rgb(17, 128, 44);
}
.add-quest-button-dark:hover {
  background-color: rgb(66, 7, 68);
}
/* NEW TASK */

/* TASKS STYLE */
.all-task-container {
  padding: 20px 0;
}
.task-container {
  color: white;
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928391/Final-yisus-project/Homeview/library-gif_mjzhid.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  max-width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 5px;
}

.btn-delete {
  background-color: red;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.trash-img {
  width: 1.1rem;
  position: absolute;
  top: 0.28rem;
  left: 0.25rem;
  cursor: pointer;
}

.btn-edit {
  background-color: rgb(255, 251, 0);
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.pencil-img {
  width: 1rem;
  position: absolute;
  top: 0.32rem;
  left: 1.88rem;
  cursor: pointer;
}

.btn-check {
  background-color: rgb(29, 201, 14);
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.check-img {
  width: 1rem;
  position: absolute;
  top: 0.36rem;
  left: 3.48rem;
  cursor: pointer;
}

.btn-save-edit {
  background-color: rgb(14, 17, 201);
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.save-edit-img {
  width: 1.1rem;
  position: absolute;
  top: 3rem;
  left: 5rem;
  cursor: pointer;
}

.task-text-container {
  padding: 0px 20px 20px 20px;
  text-align: center;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-title {
  margin-bottom: 5px;
  background-color: #0000006e;
  border-radius: 50px;
  font-family: "Press Start 2P", cursive;
  font-weight: 600;
  font-size: 20px;
  overflow-wrap: break-word;
  /* -webkit-text-stroke: 0.2px black; */
}
.task-description {
  font-family: "Indie Flower", cursive;
  background-color: #0000006e;
  border-radius: 50px;
  font-size: 30px;
  -webkit-text-stroke: 0.4px black;
  line-height: 100%;
  overflow-wrap: break-word;
}
.edit-task-container-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 58px;
}

.edit-task-container-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 58px;
}

.edit-task-container-light input {
  background-color: #b16b0fe6;
  color: white;
  border-radius: 15px;
  border: 2px solid rgb(3, 2, 6, 7);
  text-align: center;
}

.edit-task-container-dark input {
  background-color: rgb(13, 17, 23, 0.9);
  color: white;
  border-radius: 15px;
  border: 2px solid rgb(1, 0, 27);
  text-align: center;
}

.edit-task-container-light input::placeholder {
  color: white;
}

.edit-task-container- input::placeholder {
  color: white;
}

/* TASKS STYLE */

.quest-title-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.quest-title {
  color: white;
  font-size: 25px;
  /* background-color: rgba(0, 0, 0, 0.404);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
}

.exclamation-title-img {
  width: 17px;
  /* background-color: rgba(0, 0, 0, 0.404);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 13px; */
}

.quest-incomplete {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928349/Final-yisus-project/Icons/quest-icon-1-exlamation_cigbpo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 35px;
}

.quest-complete {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928349/Final-yisus-project/Icons/quest-icon-2-questionmark_ejguji.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 35px;
}

.task-btn-container {
  display: flex;
  justify-content: space-between;
}

/* HOME VIEW */

/* ACCOUNT VIEW */

.avatar-container {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  height: 150px;
}

.avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h2 {
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.exp-bar-img {
  width: 300px;
  max-height: 26px;
}

.exp-bar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 130px;
  height: 17px;
}
.lvl-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 75px;
  height: 17px;
}

.user-config-container {
  display: flex;
  flex-direction: column-reverse;
}

.user-config-container {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}

/* FALTA DARK */
.user-config-btn-light {
  width: 200px;
  border-radius: 15px;
  background-color: rgba(177, 107, 15);
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.user-config-btn-dark {
  width: 200px;
  border-radius: 15px;
  background-color: #0d1117;
  border: 1px solid rgb(4, 2, 85);
  color: white;
  cursor: pointer;
}

.user-config-btn-light:hover {
  background-color: rgb(17, 128, 44);
}

.user-config-btn-dark:hover {
  background-color: rgb(66, 7, 68);
}

.edit-config-container-light {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.edit-config-container-dark {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* FALTA DARK */
.edit-config-container-light input {
  background-color: rgba(177, 107, 15, 0.603);
  color: white;
  border-radius: 15px;
  border: 1px solid brown;
}

.edit-config-container-dark input {
  background-color: rgb(13, 17, 23, 0.6);
  color: white;
  border-radius: 15px;
  border: 1px solid rgb(4, 2, 85);
}

/* FALTA DARK */
.btn-profile-changes-light {
  border-radius: 15px;
  background-color: rgba(177, 107, 15);
  border: 1px solid black;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-profile-changes-dark {
  border-radius: 15px;
  background-color: #0d1117;
  border: 1px solid rgb(4, 2, 85);
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-profile-changes-light:hover {
  background-color: rgb(17, 128, 44);
}

.btn-profile-changes-dark:hover {
  background-color: rgb(66, 7, 68);
}

/* MEDIA QUERY TABLET */
@media (min-width: 550px) {
  .jesus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }

  .jesus-sign {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }

  .jesus-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671036385/Final-yisus-project/Homeview/Dark%20theme/dark-theme-img-prueba_nc3lpq.gif);
  }

  .jesus-sign-dark {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671036378/Final-yisus-project/Homeview/Dark%20theme/dark-theme-mbl-img_wevpyt.gif);
  }

  .desktop-task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 8px;
  }
  .task-container {
    max-width: 300px;
    min-width: 300px;
  }
  .btn-theme-light {
    margin: 3px 17px 3px 0;
  }

  .btn-theme-dark {
    margin: 3px 17px 3px 0;
  }
  .burger-container {
    width: 30%;
    position: absolute;
    left: -1rem;
    top: 3.6rem;
  }
}
/* MEDIAQUERY DESKTOP*/
@media (min-width: 1023px) {
  .jesus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }

  .jesus-sign {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }

  .jesus-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671036385/Final-yisus-project/Homeview/Dark%20theme/dark-theme-img-prueba_nc3lpq.gif);
  }

  .jesus-sign-dark {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1671036385/Final-yisus-project/Homeview/Dark%20theme/dark-theme-img-prueba_nc3lpq.gif);
  }
  /* .desktop-task-container {
    display: flex;
    flex-direction: row;
  } */

  .desktop-task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 15px;
  }

  .task-container {
    max-width: 300px;
    min-width: 300px;
  }

  .nav-dark {
    padding: 0 50px;
    align-items: center;
  }

  .nav-light {
    padding: 0 50px;
    align-items: center;
  }

  .footer-dark {
    padding: 0 50px;
  }

  .footer-light {
    padding: 0 50px;
  }

  ul {
    display: block;
  }

  .burger-label {
    display: none;
  }
  .burger-container {
    display: block;
    position: static;
    display: flex;
    padding-inline-start: 0;
    width: 100%;
  }

  .router-link {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  .burger-li-light {
    display: flex;
    border: none;
    background: none;
    border-radius: none;
  }
  .burger-li-dark {
    border: none;
    background: none;
    border-radius: none;
  }

  .contact-us-container p {
    color: white;
    font-size: 15px;
  }

  .btn-theme-light {
    margin: 3px 47px 3px 0;
  }

  .btn-theme-dark {
    margin: 3px 47px 3px 0;
  }
}
