@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Klee+One:wght@400;600&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&family=Press+Start+2P&display=swap");

/* font-family: 'Indie Flower', cursive; PARA TEXTOS "BONITOS" o de detalle.
font-family: 'Klee One', cursive; PARA h3/h4 y algunos <p>
font-family: 'Nunito', sans-serif;  PARA TITULOS h1/h2
font-family: 'Press Start 2P', cursive;
*/

* {
  /* outline: 1px red solid; */
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  width: 100vw;
  overflow-x: hidden;
}

/*  SIGN IN/LOGIN COMPONENT */

.header-title {
  font-weight: 800;
  font-size: 180%;
  text-align: center;
  padding-top: 35px;
  color: white;
}

.header-subtitle {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  margin: 30px;
}

.container {
  margin: 0 5px;
  font-family: "Klee One", cursive;
  padding-top: 15px;
  height: 500px;
  margin-bottom: 20px;
}

.big-green-box {
  position: relative;
  margin: 0 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Klee One", cursive;
  padding-top: 15px;
  height: 500px;
  max-width: 350px;
  margin-bottom: 20px;
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928396/Final-yisus-project/Homeview/background-img2_jy4dax.jpg);
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.sign-in-form {
  position: relative;
  top: -500px;
}

.create-title {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 150%;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.sign-up-container {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928401/Final-yisus-project/Homeview/dec%C3%A1gono-final-1_rmblf3.png);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  height: 310px;
  max-width: 300px;
  /* height: 100vw;
  max-width: 56vh; */
}

.account-question {
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.error-msg {
  color: white;
  text-align: center;
}

#question-login {
  margin-top: -5px;
}

.sign-link {
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: rgb(17, 128, 44);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 6px;
  margin-top: 15px;
}

.sign-button {
  font-family: "Klee One", cursive;
  margin-top: 5px;
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: rgb(17, 128, 44);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
}
/* SIGN UP COMPONENT */

.form {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field-label {
  margin-top: 5px;
  font-size: 120%;
  font-weight: 600;
}
.input-field {
  margin-top: 0px;
  border-radius: 25px;
  padding: 3px;
}

/* HOME VIEW */

.jesus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843198/Final-yisus-project/Homeview/GIF-BACKGROUND-2.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.jesus-sign {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843198/Final-yisus-project/Homeview/GIF-BACKGROUND-2.gif);
  background-position: center;
  background-size: cover;
  padding-bottom: 35px;
  min-height: 100vh;
}

.main-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 300px;
  height: 65px;
}

/* NAVBAR */

nav {
  font-family: "Klee One", cursive;
  background-color: rgb(33, 53, 33);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-bottom: 2px solid black;
}
.router-link {
  text-decoration: none;
  color: white;
}
.log-out-list ul {
  list-style: none;
  padding-inline-start: 0;
}

.log-out-button {
  font-family: "Klee One", cursive;
  color: rgb(255, 254, 254);
  text-decoration: none;
  background-color: rgb(17, 128, 44);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 3px 7px;
}

/* BURGER MENU */
.menu-burger-container {
  margin-top: 10px;
}

ul {
  display: none;
}

input:checked ~ ul {
  display: block;
}
#burger-menu {
  display: none;
}

.burger-label {
  color: white;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

li {
  display: block;
  background: rgb(33, 53, 33);
  margin: 0;
  padding: 10px;
  list-style: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}
.burger-container {
  width: 100%;
  position: absolute;
  left: -6%;
  top: 7.5%;
}
/* BURGER DONE */
.salute {
  color: white;
}
/* NAVBAR */

/* FOOTER */

footer {
  font-family: "Klee One", cursive;
  background-color: rgb(33, 53, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top: 2px solid black;
}

.footer-logo img {
  width: 200px;
  border-radius: 15px;
}

.contact-us-container p {
  color: white;
  font-size: 10px;
}

/* FOOTER */

/* NEW TASK */
.new-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.add-task-container {
  display: flex;
  flex-direction: column;
}

.add-task-container input {
  background-color: rgba(177, 107, 15, 0.603);
  color: white;
  border-radius: 15px;
  border: 1px solid brown;
  text-align: center;
}
.add-task-container input::placeholder {
  color: white;
}

.add-quest-button {
  margin-top: 1px;
  border-radius: 15px;
  background-color: rgba(177, 107, 15);
  border: 1px solid black;
  color: white;
}

.add-quest-button:hover {
  background-color: rgb(17, 128, 44);
}
/* NEW TASK */

/* TASKS STYLE */
.all-task-container {
  padding: 20px 0;
}
.task-container {
  color: white;
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928391/Final-yisus-project/Homeview/library-gif_mjzhid.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  max-width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btn-delete {
  background-color: red;

  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.trash-img {
  width: 6%;
  position: absolute;
  top: 2.8px;
  left: 3.5px;
}

.btn-edit {
  background-color: rgb(255, 251, 0);
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.pencil-img {
  width: 5.5%;
  position: absolute;
  top: 4px;
  left: 29px;
}

.btn-check {
  background-color: rgb(29, 201, 14);
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.check-img {
  width: 5%;
  position: absolute;
  top: 4.2px;
  left: 55px;
}

.task-text-container {
  padding: 0px 20px 20px 20px;
  text-align: center;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-title {
  margin: 10px 0;
  background-color: #0000006e;
  border-radius: 50px;
  font-family: "Press Start 2P", cursive;
  font-weight: 600;
  font-size: 20px;
  /* -webkit-text-stroke: 0.2px black; */
}
.task-description {
  font-family: "Indie Flower", cursive;
  background-color: #0000006e;
  border-radius: 50px;
  font-size: 30px;
  -webkit-text-stroke: 0.4px black;
  line-height: 100%;
  overflow-wrap: break-word;
}
.edit-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 58px;
}

.btn-save-edit {
  background-color: rgb(14, 17, 201);
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.save-edit-img {
  width: 10%;
  position: absolute;
  top: 48px;
  left: 80px;
}

.edit-task-container input {
  background-color: #b16b0fe6;
  color: white;
  border-radius: 15px;
  border: 2px solid rgb(3, 2, 6, 7);
  text-align: center;
}

.edit-task-container input::placeholder {
  color: white;
}

/* TASKS STYLE */

.quest-title-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.quest-title {
  color: white;
  font-size: 25px;
  /* background-color: rgba(0, 0, 0, 0.404);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
}

.exclamation-title-img {
  width: 17px;
  /* background-color: rgba(0, 0, 0, 0.404);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 13px; */
}

.quest-incomplete {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928349/Final-yisus-project/Icons/quest-icon-1-exlamation_cigbpo.png);
  background-color: rgb(255, 0, 0);
  width: 24px;
  height: 38px;
}

.quest-complete {
  background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670928349/Final-yisus-project/Icons/quest-icon-2-questionmark_ejguji.png);
  background-color: rgb(115, 255, 0);
  width: 24px;
  height: 38px;
}

.task-btn-container {
  display: flex;
  justify-content: space-between;
}

/* HOME VIEW */

/* ACCOUNT VIEW */

.avatar-container {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h2 {
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.exp-bar-img {
  width: 300px;
  max-height: 26px;
}

.exp-bar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 130px;
  height: 17px;
}
.lvl-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 75px;
  height: 17px;
}

.user-config-container {
  display: flex;
  flex-direction: column-reverse;
}

.user-config-container {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}

.user-config-btn {
  width: 200px;
  border-radius: 15px;
  background-color: rgba(177, 107, 15);
  border: 1px solid black;
  color: white;
}

.edit-config-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.edit-config-container input {
  background-color: rgba(177, 107, 15, 0.603);
  color: white;
  border-radius: 15px;
  border: 1px solid brown;
}

.btn-profile-changes {
  border-radius: 15px;
  background-color: rgba(177, 107, 15);
  border: 1px solid black;
  color: white;
}

/* MEDIA QUERY TABLET */
@media (min-width: 700px) {
  .jesus {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }

  .jesus-sign {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }
}

/* MEDIAQUERY DESKTOP*/
@media (min-width: 1023px) {
  .jesus {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }

  .jesus-sign {
    background-image: url(https://res.cloudinary.com/dz3wb5q87/image/upload/v1670843206/Final-yisus-project/Homeview/pixel-art-background-gif.gif);
  }
}
